dialog {
    border: none;
    border-radius: 30px;
    background-color: #7AC74C;
    color: white;
    padding: 0;
}

#poke_detail_card_div {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.poke-detail-card-header {
    width: 90%;
}

.poke-detail-card-header img {
    width: 30px;
}

.poke-detail-card-header img:hover {
    cursor: pointer;
}

.poke-detail-card-title-div {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 10px;
}

#poke_detail_card_title,
#poke_detail_card_id {
    margin: 0;
}

#poke_detail_img_div {
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.arrow{
    height: 30px;
    width: 30px;
}

.arrow:hover{
    cursor: pointer;
    scale: 1.12;
}

#poke_detail_img {
    width: 200px;
    filter: drop-shadow(8px 8px 11px #313131);
}

.poke-detail-card-info-div {
    background-color: white;
    min-height: 345px;
    flex: 1;
    width: 100%;
    border-radius: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poke-detail-card-info-nav {
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px
}

.poke-detail-card-nav-link {
    color: rgb(137, 137, 137);
    padding-bottom: 20px;
}

.poke-detail-card-nav-link:hover{
    cursor: pointer;
}

.active{
    color: black;
    font-weight: bold;
    border-bottom: solid 3px black;
}

#poke_detail_card_info {
    color: black;
    width: 90%;
}

.poke-detail-card-info-table {
    border-collapse: collapse;
}

.poke-detail-card-info-table td {
    line-height: 1.7;
}

.poke-detail-card-info-table td:first-child {
    width: 150px;
    color: rgb(140, 140, 140);
    vertical-align: top;
}

#poke_detail_card_dialog::backdrop {
    backdrop-filter: blur(10px);
}

.poke-detail-card-stat-table td:first-child{
    width: 100px;
    color: rgb(140, 140, 140);
    line-height: 1.7;
}

.poke-detail-card-stat-table td:nth-child(2){
    width: 40px;
}

.progress-container {
    width: 200px;
    background-color: #e0e0e0;
    border-radius: 25px;
    overflow: hidden;
}

/* Fortschrittsbalken */
.progress-bar {
    height: 10px;
    background-color: #76c7c0;
    text-align: center;
    line-height: 30px;
    color: white;
    border-radius: 25px;
}

.evolution-chain-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 30px;
}

.evolution-chain-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.evolution-chain-image{
    max-width: 100px;
}

#evolution_chain_image1{
    width:60px;
}

#evolution_chain_image2{
    width:80px;
}

#evolution_chain_image3{
    width:100px;
}