.fire{
    background-color: #EE8130;
}

.water{
    background-color: #6390F0;
}

.rock{
    background-color: #B6A136;
}

.grass{
    background-color: #7AC74C;
}

.ice{
    background-color: #96D9D6;
}

.dark{
    background-color: #705746;
}

.fairy{
    background-color: #D685AD;
}

.electric{
    background-color: #F7D02C;
}

.dragon{
    background-color: #6F35FC;
}

.bug{
    background-color: #A6B91A;
}

.poison{
    background-color: #A33EA1;
}

.normal{
    background-color: #A8A77A;
}

.fighting{
    background-color: #C22E28;
}

.flying{
    background-color: #A98FF3;
}

.ghost{
    background-color: #735797;
}

.steel{
    background-color: #B7B7CE;
}

.stellar{
    background-color: #60A1B8;
}

.psychic{
    background-color: #F95587;
}

.ground{
    background-color: #E2BF65;
}
