.fire{
    background-color: #E62829;
}

.water{
    background-color: #2980EF;
}

.rock{
    background-color: #AEA880;
}

.grass{
    background-color: #3FA028;
}

.ice{
    background-color: #3DCEF3;
}

.dark{
    background-color: #624D4E;
}

.fairy{
    background-color: #EF70EF;
}

.electric{
    background-color: #FAC000;
}

.dragon{
    background-color: #5060E1;
}

.bug{
    background-color: #91A119;
}

.poison{
    background-color: #9141CB;
}

.normal{
    background-color: #9FA19F;
}

.fighting{
    background-color: #FF8000;
}

.flying{
    background-color: #81B9EF;
}

.ghost{
    background-color: #704170;
}

.steel{
    background-color: #60A1B8;
}

.stellar{
    background-color: #60A1B8;
}

.psychic{
    background-color: #EF4179;
}

.ground{
    background-color: #915121;
}
